body{
    background-color: rgb(18, 18, 57);
    color: white;
}
table{
    background-color:white ;
}
td{
    padding: 16px 18px;
}
.col{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(164,246, 18);
}
tr{
    background-color: rgb(165, 233, 255);
    color: black;
    text-align: center;
}
input{
    font-size: 16px;
}